.bg-lightblue {
  background-color: #F4F9FA;
}
.bg-mainblue {
  background-color: #57A3B3;
}

.bg-1 {
  background-color: #b17377;
}
.bg-2 {
  background-color: #98dbb7;
}
.bg-3 {
  background-color: #d7db98;
}

/*------------- overall -------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

@font-face {
  font-family: 'Sukhumvitset';
  src: 
    url('../fonts/Sukhumvitset/Sukhumvitset-text.ttf')
    format('truetype');
}

#app {
  /* font-family: 'Sukhumvitset'; */
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

body,
#background {
  background: #F4F9FA;
  width: 100%;
  height: 100%;
}

h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/*------------- bar -------------*/
#bar {
  background: #ffffff;
  width: 100%;
  position: fixed;
  /* top right bottom left */
  padding: 0px 40px 0px 40px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 900;
}

#bar a {
  color: #2c3e50;
  padding-left: 16px;
}

#bar .nav-item a:hover,
#bar .nav-item a.router-link-exact-active {
  color: #57A3B3;
  cursor: pointer;
  text-decoration: none;
}

.dropdown .dropdown-item:hover {
  color: #57A3B3 !important;
  cursor: pointer;
  background-color: #F4F9FA;
}

.navbar .dropdown .btn-secondary,
.navbar .dropdown .btn-primary:hover,
.navbar .dropdown .btn-primary:focus {
  background-color: #ffffff !important; 
  border-color: #ffffff !important;
  box-shadow: none !important;
  color: #49474A !important;
}

/*------------- footer -------------*/

#footer {
  background-color: #ffffff;
  color: #175E7A;
  font-size: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

#footer a {
  cursor: pointer;
  text-decoration: none;
  color: #175E7A;
}

/*------------- card -------------*/
#card,
#profilecard,
#suggestioncard,
#questioncard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0px 120px 0px;
}

.card {
  width: 50%;
  align-items: center;
  /* background-color: antiquewhite; */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card #leftside,
.card #rightside {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.card-title {
  padding-bottom: 24px;
}

.card-body #form-login,
.card-body #form-regis {
  width: 300px;
}

#card .card,
#profilecard .card {
  padding: 32px 0px 32px 0px;
}

#questioncard .card {
  padding: 32px 40px;
}


/*------------- home page -------------*/

#home {
  padding: 120px 0px 120px 0px;
}

#home h3,
#home h4 {
  padding-bottom: 32px;
}

#home img {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*------------- suggestion page -------------*/

#suggestion h3,
#suggestion h4 {
  padding-bottom: 32px;
}

#suggestion img {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*------------- button -------------*/

#regularbutton {
  width: 180px;
}

#barbutton {
  width: 100%;
}

#fullbutton {
  width: 300px;
}

.btn-primary:hover {
  background-color: #175E7A !important;
  border-color: #175E7A !important;
  box-shadow: none !important;
}

.btn-primary,
.btn-primary:focus {
  background-color: #57A3B3;
  width: 180px;
  border-color: #57A3B3;
  box-shadow: none;
}

.btn-outline-primary:hover{
  background-color: #ffffff !important;
  border-color: #175E7A !important;
  color: #175E7A !important;
  box-shadow: none !important;
}

.btn-outline-primary,
.btn-outline-primary:focus{
  border-color: #57A3B3;
  color: #57A3B3;
  width: 180px;
  box-shadow: none;
}

#facebook {
  background-color: #1877f2!important;
  border-color: #1877f2!important;
  width: 100%;
  /* background-color: #3B5998 !important;
  border-color: #3B5998 !important; */
}

/*------------- input and form control -------------*/

.form-control:focus {
  border-color: #57A3B3;
  box-shadow: none;
}

#form-profile,
#form-result,
#form-deduct,
#form-calculate {
  width: 90%;
}

/*create -or- line */
#or {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bdbdbd;
  text-align: center;
  height: 0px;
  line-height: 0px;
  /* width: 300px; */
}

.hr-title {
  background-color: #fff;
  padding: 0 8px;
}

/* checkbox */
.checkbox .active{
  background-color: #ffffff !important;
  border-color: #57A3B3 !important;
  box-shadow: none !important;
}

/* remove up-down arrow in number type input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { 
  text-align:right ;
}

/*------------- popover -------------*/
.popover-body {
  /* font-family: 'Sukhumvitset'; */
  font-family: 'Prompt', sans-serif;
}

/*------------- modal -------------*/
.modal {
  /* font-family: 'Sukhumvitset'; */
  font-family: 'Prompt', sans-serif;
}

.modal .btn-primary {
  width: 100px;
}

.spinner {
  padding-left: 50%;
}

.modal a {
  color: #57A3B3;
  cursor: pointer;
}

/*------------- question page -------------*/

#questioncard h6 {
  line-height: 1.6;
  margin-bottom: 0px;
}

.optionContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  flex-grow: 1;
}

.option {
  border-radius: 290486px;
  padding: 9px 18px;
  margin: 0 18px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border: transparent 1px solid; 
  width: 90%;
}

.option:hover,
.option:focus {
  background-color: #BFD6DB;
}

input[type="radio"] {
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
}

input[type="radio"]:checked + label  {
  background-color: #BFD6DB;
  color: #175E7A;
}



/*------------- override text color -------------*/
.text-danger,
.text-danger::-webkit-input-placeholder {
  color: #F43240 !important;
}

.text-success{
  color: #689F39 !important;
}

.text-primary{
  color: #49474A !important;
}

.text-mainblue{
  color: #175E7A !important;
}

.text-subblue{
  color: #57A3B3 !important;
}

.text-lightyell{
  color: #E7DDC2 !important;
}

.text-white{
  color: #FFFFFF !important;
}

