@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
@font-face {
  font-family: 'Sukhumvitset';
  src: 
    url('../fonts/Sukhumvitset/Sukhumvitset-text.ttf')
    format('truetype');
}

/* ---------------------------- root ---------------------------- */
:root {
  /* color */
  --danger:   #F43240;
  --success:  #689F39;
  --mainblue: #175E7A;
  --subblue:  #57A3B3;
  --hover:    #BFD6DB;
  --lightblue:#F4F9FA;
  --white:    #FFFFFF;
  --lightyell:#FBDC8E;
  --primary:  #49474A;
  --secondary:#747474;
  --outline:  #BDBDBD;
  --lightoultine: #F3F3F4;
  --facebook: #1877f2;
  
  /* width */
  --fullwidth: 300px;
}

#app {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  width: 100%;
  height: 100%;
}

#content {
  padding: 32px 0px 56px 0px;
}

body,
#background {
  background: var(--lightblue);
  width: 100%;
  height: 100%;
}

/* ---------------------------- position ---------------------------- */

.relative {
  position: relative;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ---------------------------- font OVERRIDE ---------------------------- */

.caption { font-size: 14px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/* ---------------------------- input OVERRIDE ---------------------------- */

/* .row in bootstrap is giving a margin right and left of -15px, override it with a in-line style="margin: auto" */
.row {
  margin: auto;
}

/* placeholder */
input::placeholder,
input::-webkit-input-placeholder,
input::-ms-input-placeholder {
  color: var(--secondary) !important;
}

/* remove up-down arrow in number type input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { 
  text-align:right !important;
}

/* remove and change arrow in select input (dropdown / select) */

.navbar .dropdown-toggle::after {
  display: none !important;
}

select {
  background-image:
    url("../icon/arrow-down.svg") !important;
  background-size: 10px 10px !important;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  background-image:
    url("../icon/arrow-down-blue.svg") !important;
  background-size: 10px 10px !important;
}

/* remove radio in radio input @ QUESTION PAGE */
.optionContainer input[type="radio"],
.optionContainer input[type="checkbox"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  border: none !important;
}
.optionContainer input[type="radio"]:checked + label,
.optionContainer input[type="checkbox"]:checked + label  {
  background-color: var(--hover);
  color: var(--mainblue);
}

/* ---------------------------- button ---------------------------- */

#regularbutton {
  width: 190px;
}

#barbutton,
#modalbutton {
  width: 100%;
}

#fullbutton {
  width: var(--fullwidth);
}

.btn {
  box-shadow: none !important;
  /* border-radius: 8px !important; */
  height: 40px;
}

/* normal button */
.btn-primary,
.btn-primary:focus {
  background-color: var(--subblue);
  border-color: var(--subblue);
  box-shadow: none;
}

.btn-primary:hover {
  background-color: var(--mainblue) !important;
  border-color: var(--mainblue) !important;
  box-shadow: none !important;
}

/* outline button */
.btn-outline-primary,
.btn-outline-primary:focus{
  background-color: var(--white) !important;
  border-color: var(--subblue);
  color: var(--subblue);
  box-shadow: none;
}

.btn-outline-primary:hover{
  background-color: var(--white) !important;
  border-color: var(--mainblue) !important;
  color: var(--mainblue) !important;
  box-shadow: none !important;
}

/* facebook button */
#facebook {
  background-color: var(--facebook)!important;
  border-color: var(--facebook)!important;
  width: 180px;
  /* background-color: #3B5998 !important;
  border-color: #3B5998 !important; */
}
#logincard #facebook,
#collect #facebook {
  width: var(--fullwidth);
}

/* ---------------------------- form control ---------------------------- */
.form-control {
  box-shadow: none !important;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  border-color: var(--subblue);
  box-shadow: none !important;
}

#form-login,
#form-regis {
  width: var(--fullwidth);
}

#form-profile,
#form-deduct,
#form-calculate {
  width: 100%;
  padding: 0px 24px 24px 48px;
}
#form-result {
  width: 100%;
  padding: 0px 24px 16px 48px;
}

#form-profile .form-control,
#form-result .form-control,
#form-deduct .form-control,
#form-calculate .form-control {
  width: 180px;
}

/* id of calendar-grid */
.b-calendar #__BVID__62__calendar-grid_,
.b-calendar #__BVID__28__calendar-grid_ {
  width: 100%;
}

/*create -or- line @ LOGIN PAGE */
.hr {
  border: 0;
  border-top: 1px solid var(--outline);
  text-align: center;
  height: 0px;
  line-height: 0px;
}
.hr-title {
  background-color: var(--white);
  padding: 0 8px;
}

/*create -or- line @ LOGIN PAGE VERTICAL*/

.hrv {
  margin-right: 40px;
  margin-left: 40px;
  border-left: 1px solid var(--outline);
  height: 100;
}

/* ---------------------------- alert ---------------------------- */

.alert {
  position: fixed;
  color: var(--mainblue) !important;
  background-color: var(--hover);
  border: none !important;
  border-radius: 0px !important;
  font-size: 14px;
  margin: 0px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.alert a {
  color: var(--mainblue) !important;
}

.alert .close {
  float: right;
}

/* ---------------------------- overlay ---------------------------- */

#overlay {
  position: fixed !important;
  height: 100%;
}

/* ---------------------------- bar ---------------------------- */

#bar {
    background: var(--white);
    width: 100%;
    position: sticky;
    -webkit-position: sticky;
    height: 88px; /* 72 + 16 px */
    /* negative top allows for 16 pixels of movement before sticking */
    top: -16px;
    z-index: 1;
    
}

/* PSEUDO ELEMENTS to create drop-shadow */
#bar::before,
#bar::after {
  content: '';
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
}

#bar::before {
  top: 56px; /* shadow is at bottom of element, so at 56 + 16 = 80px */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}

#bar::after {
  background: var(--lightblue);
  top: 0;
  /* cover should fall over shadow */
  z-index: 2;
}

#bar a {
  color: var(--primary);
  padding-left: 16px;
}

.link:hover,
#footer a:hover,
#bar .nav-item a:hover,
#bar .nav-item a.router-link-exact-active {
  color: var(--subblue);
  cursor: pointer;
  text-decoration: none;
}

#bar .dropdown .dropdown-item:hover {
    color: var(--subblue) !important;
    cursor: pointer;
    background-color: #F4F9FA;
}

.navbar {
  background: var(--white);
  height: 72px;
  position: sticky;
  -webkit-position: sticky;
  border-bottom: 1px solid var(--lightoultine);
  padding: 0px 40px 0px 40px;
  top: 0px;
  margin-top: -16px;
  z-index: 3;
}

.navbar .dropdown .btn-secondary,
.navbar .dropdown .btn-primary:hover,
.navbar .dropdown .btn-primary:focus {
  background-color: var(--white) !important; 
  border-color: var(--white) !important;
  box-shadow: none !important;
  color: var(--primary) !important;
}

/* ---------------------------- content ---------------------------- */

.container {
  padding: 24px 0px 24px 0px;
}

#card,
#logincard,
#lgcard,
#collect,
#profilecard,
#suggestioncard,
#questioncard,
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

.card-title {
  padding-bottom: 24px;
}

.wrap-box {
  width: 50%;
  max-width: 650px;
  min-width: 420px;
  border: none;
}

.wrap-box > .row {
  /* align-items: flex-start; */
}

.content-box,
.sub-content-box {
  background-color: var(--white);
  border-radius: 10px;
  padding: 48px 40px;
  width: 50%;
  max-width: 650px;
  min-width: 420px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.content-box > *:not(div),
.sub-content-box > *:not(div) {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.sub-content-box {
  padding: 0px;
}

.sub-content-header {
  padding: 16px 40px 8px 40px;
  border-top: 8px solid var(--subblue);
  border-radius: 8px 8px 0px 0px;
  color: var(--mainblue);
}

.sub-content-footer {
  padding-top: 16px;
  color: var(--primary);
}

.sub-content-box:not(:first-child)  {
  margin-left: 24px;
}

/* TABLE */
.table {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.table > .row p:first-child {
  margin-bottom: 8px;
} 

.table > .row {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--outline);
}

.table > .row:first-child {
  border-top: 1px solid var(--outline);
}

.table > .row:hover {
  background-color: var(--lightoultine);
  cursor: pointer;
}

/* LARGE CARD */

#lgcard .content-box {
  width: 50%;
  max-width: 1000px;
  min-width: 800px;
}

/* HOME PAGE */

#home h3,
#home h4 {
  padding-bottom: 32px;
}

/* LOG IN PAGE */
#logincard .hr {
  margin-top: 24px;
  margin-bottom: 24px;
  width: var(--fullwidth);
}

#home img {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* SUGGESTION PAGE */

#suggestion h3,
#suggestion h4 {
  padding-bottom: 32px;
}

#suggestion img {
  padding-top: 32px;
  padding-bottom: 32px;
}

.sub-content-box .hr {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
} 

.sub-content-box .hr:nth-child(2) {
  margin-top: 0px;
}


/* @ SUGGESTION PAGE VER.1 */
/* #suggestioncard .content-box {
  width: 75%;
  max-width: 1200px;
  min-width: 800px;
  padding: 0px 0px;
} */

/* @ SUGGESTION PAGE VER.2 */
#suggestioncard > .content-box,
#suggestioncard > .wrap-box {
  width: 75%;
  max-width: 1000px;
  min-width: 800px;
}

#bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

#topright {
  position: absolute;
  top: 0;
  right: 0;
}

.content-box #leftside,
.content-box #rightside {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

/* QUESTION PAGE */

#questioncard h6 {
  line-height: 1.6;
  margin-bottom: 0px;
}

#questioncard .content-box {
  max-width: 1000px;
}

.quizcontain,
.quizcontain h4 {
  margin: 0px 24px;
}

.quizcontain img {
  background-color: var(--white);
}

.optionContainer {
  margin-top: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.option {
  border-radius: 20px;
  padding: 8px 16px;
  margin: 0px 16px 8px 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border: transparent 1px solid; 
  width: 90%;
}

.option:hover,
.option:focus {
  background-color: var(--hover);
}

/* QUESTION RESULT PAGE */

#group {
  margin: 0px 16px;
}

/* COLLECT SET */

#collect .card {
  padding: 0px;
  margin: 0px;
}

#collect .content-box {
  max-width: 1000px;
}

#login2 {
  height: 414px;
  max-width: 700px;
}

/* ---------------------------- footer ---------------------------- */

#footer {
    background-color: var(--white);
    color: var(--primary);
    font-size: 16px;
    padding: 40px 32px 24px 32px;
    /* border-top: 1px solid var(--lightoultine); */
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08); */
}

#footer a,
#footer p {
    /* cursor: pointer; */
    text-decoration: none;
    color: var(--secondary);
}

/* ---------------------------- popover ---------------------------- */

.popover-body {
  font-family: 'Prompt', sans-serif;
}

/* ---------------------------- modal ---------------------------- */

.modal {
  font-family: 'Prompt', sans-serif;
}

.modal .btn-primary {
  width: 100px;
}

.spinner {
  padding-left: 50%;
}

.modal a {
  color: var(--subblue);
  cursor: pointer;
}

/* ---------------------------- color ---------------------------- */

.text-danger,
.text-danger::-webkit-input-placeholder
 {
  color: var(--danger) !important;
}


.text-success{
  color: var(--success) !important;
}

.text-primary{
  color: var(--primary) !important;
}

.text-secondary{
  color: var(--secondary) !important;
}

.text-mainblue{
  color: var(--mainblue) !important;
}

.text-subblue{
  color: var(--subblue) !important;
}

.text-lightyell{
  color: var(--lightyell) !important;
}

.text-white{
  color: var(--white) !important;
}

.bg-white {
  background-color: var(--white);
}
.bg-lightblue {
  background-color: var(--lightblue);
}
.bg-mainblue {
  background-color: var(--subblue);
}

.bg-1 {
  background-color: #b17377;
}
.bg-2 {
  background-color: #98dbb7;
}
.bg-3 {
  background-color: #d7db98;
}
